<div class="table" *ngIf="canReadContracts">
  <!-- Table header -->
  <div class="table-header">
    <div class="table-title">{{ "terminated" | translate }}</div>
    <div class="table-search">
      <img src="/assets/icons/search-icon.svg" alt="" />
      <input
        type="text"
        [placeholder]="'Search by applicant\'s mobile number' | translate"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
    </div>
  </div>
  <!-- Table titles -->
  <div class="table-titles">
    <div>
      <span>{{ "Tenant" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('tenantName')"
        />
      </span>
    </div>
    <div>
      <span>{{ "TenantContactNo" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('tenantMobile')"
        />
      </span>
    </div>

    <div>
      <span>{{ "Owner" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('ownerName')"
        />
      </span>
    </div>

    <div>
      <span>{{ "ContactNo" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('ownerMobile')"
        />
      </span>
    </div>
    <div>
      <span>{{ "propertytype" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('propertyType')"
        />
      </span>
    </div>
    <div>
      <span>{{ "Location" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('location')"
        />
      </span>
    </div>
  </div>

  <!-- Loading state -->
  <div *ngIf="isLoading" class="loading">{{ "Loading..." | translate }}</div>

  <!-- No data -->
  <div *ngIf="!isLoading && filteredItems.length === 0" class="table-no-data">
    {{ "No data found" | translate }}
  </div>
  <!-- Table rows -->
  <ng-container *ngIf="!isLoading">
    <div class="table-row" *ngFor="let item of paginatedItems">
      <div>{{ item.tenantName }}</div>
      <div>{{ item.tenantMobile }}</div>
      <div>{{ item.ownerName }}</div>
      <div>{{ item.ownerMobile }}</div>
      <div>{{ item.propertyType }}</div>
      <div>{{ item.location }}</div>
    </div>
  </ng-container>

  <!-- Table pagination -->
  <div class="table-pagination" *ngIf="filteredItems.length > 0">
    <div class="table-pagination--show">
      <span> {{ "Show" | translate }} </span>
      <select [(ngModel)]="itemsPerPage" (change)="updatePagination()">
        <option *ngFor="let num of [10, 20, 30]" [value]="num">
          {{ num }}
        </option>
      </select>
      <span> {{ "per page" | translate }} </span>
    </div>

    <div class="table-pagination--pages">
      <div class="table-pagination--pages--count">
        {{ paginationStart + 1 }}-{{ paginationEnd }}
        {{ "of" | translate }}
        {{ filteredItems.length }}
      </div>

      <div class="table-pagination--pages--buttons" dir="ltr">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          <img src="/assets/icons/arrow-left.svg" alt="prev icon" />
        </button>
        <span
          *ngFor="let page of totalPagesArray"
          (click)="goToPage(page)"
          [class.active]="page === currentPage"
          >{{ page }}</span
        >
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <img src="/assets/icons/arrow-right.svg" alt=" next icon " />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- No access message -->
<div *ngIf="!isLoading && !canReadContracts" class="no-access-message">
  {{ "You don't have permission to view terminated contracts" | translate }}
</div>
