.table {
  overflow-x: auto;
  &-titles {
    grid-template-columns: 100px minmax(450px, 1fr) minmax(450px, 1fr);
  }

  &-row {
    grid-template-columns: 100px minmax(450px, 1fr) minmax(450px, 1fr);
  }
}
