.overview {
  display: grid;
  gap: 24px;
  // stats
  &-stats {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  }

  &-statcard {
    display: flex;
    flex-direction: column;
    padding: 39.5px 19.5px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;
    min-width: 170px;

    box-shadow: 0px 2px 6.8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    p {
      color: #404040b2;
      font-size: 14px;
    }
  }

  .stat {
    &-details {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        display: block;
      }

      h2 {
        font-size: 40px;
        line-height: 32px;
      }

      .percentage-badge {
        font-size: 7.7px;
        padding: 3.5px 4.2px;
        border-radius: 2.8px;
        min-width: 30px;
        text-align: center;
      }

      .percentage-positive {
        background-color: #17c65333;
        color: #04b440;
        border: 0.7px solid #17c65333;
      }

      .percentage-negative {
        background-color: #ffeef3;
        color: #f8285a;
        border: 0.7px solid #f8285934;
      }
    }
  }

  // financial

  &-financial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
    .card {
      padding: 20px;
      gap: 10px;
      border: 1px solid #ffffff;
      box-shadow: 0px 2px 6.8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;

      &-title {
        font-size: 24px;
        line-height: 16px;
        font-weight: 700;
        padding: 21px 30px;
        border-bottom: 1px solid #40404033;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1200px) {
          font-size: 16px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      &-value {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: 700;
        color: #12c49e;
        line-height: 96%;
        padding: 27.5px 0;
        @media (max-width: 1200px) {
          font-size: 24px;
          gap: 10px;
          img {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}

app-agent-agencies-table {
  overflow-x: auto;
}
