<div class="overview">
  <!-- Stats -->
  <div class="overview-stats">
    <div *ngFor="let stat of stats" class="overview-statcard">
      <div class="stat-details">
        <img src="{{ stat.icon }}" alt="{{ stat.title }}" />
        <h2 class="stat-value">{{ stat.value }}</h2>
        <div
          *ngIf="stat.percentageChange !== undefined"
          class="percentage-badge"
          [ngClass]="getPercentageClass(stat.percentageChange)"
        >
          {{ formatPercentage(stat.percentageChange) }}
        </div>
      </div>
      <p class="stat-title">{{ stat.title | translate }}</p>
    </div>
  </div>
  <app-agent-agencies-table></app-agent-agencies-table>
  <app-agentdashboardcharts></app-agentdashboardcharts>
</div>
