<div class="overview">
  <!-- Stats -->
  <div class="overview-stats">
    <a
      *ngFor="let stat of stats"
      class="overview-statcard"
      [routerLink]="stat.route"
      style="text-decoration: none; color: inherit; cursor: pointer"
    >
      <div class="stat-details">
        <img src="{{ stat.icon }}" alt="{{ stat.title }}" />
        <h2 class="stat-value">{{ stat.value }}</h2>
      </div>
      <p class="stat-title">{{ stat.title | translate }}</p>
    </a>
  </div>

  <!-- Financial -->
  <div class="overview-financial">
    <div class="card" *ngFor="let card of financialCards">
      <div class="card-title">
        <div>
          {{ card.title | translate }}
        </div>
        <img src="{{ card.icon }}" alt="{{ card.title }}" />
      </div>
      <div class="card-value">
        <img src="/assets/icons/financial-icon.svg" alt="{{ card.title }}" />
        <span>
          {{ card.value }}
        </span>
      </div>
    </div>
  </div>

  <app-rent-requests [rentRequests]="rentRequests"></app-rent-requests>

  <app-agent-agencies-table></app-agent-agencies-table>
</div>
