<div class="auth">
  <app-toast></app-toast>
  <div class="auth-container">
    <div class="auth-img">
      <img src="assets/images/auth-img.png" alt="" />
    </div>
    <div class="auth-form">
      <div class="auth-form--logo">
        <img src="assets/images/auth-logo.png" alt="" />
      </div>

      <div class="auth-form--header">
        <h1 class="auth-form--title">{{ 'RESET_PASSWORD_TITLE' | translate }}</h1>
      </div>

      <form
        class="auth-form--inputs"
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="auth-form--group">
          <label for="email">{{ 'E-Mail Address' | translate }}</label>
          <div class="input-container" [class.error]="!!getServerError('email')">
            <img
              src="./assets/icons/email.svg"
              alt="mail icon"
              class="input-icon"
            />
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              readonly
            />
          </div>
          <div *ngIf="getServerError('email')" class="field-error">
            {{ getServerError('email') }}
          </div>
        </div>

        <div class="auth-form--group">
          <label for="password">{{ 'NEW_PASSWORD' | translate }}</label>
          <div
            class="input-container"
            [class.error]="isFieldInvalid('password')"
          >
            <img
              src="./assets/icons/password.svg"
              alt="lock icon"
              class="input-icon"
            />
            <input
              [type]="passwordType"
              name="password"
              id="password"
              formControlName="password"
              [placeholder]="'Enter your password' | translate"
              required
            />
            <img
              src="./assets/icons/eye.svg"
              alt="eye icon"
              class="toggle-password"
              (click)="togglePasswordType()"
            />
          </div>
          <div *ngIf="getFieldError('password')" class="field-error">
            {{ getFieldError('password') | translate }}
          </div>
          <div *ngIf="getServerError('password')" class="field-error">
            {{ getServerError('password') }}
          </div>
        </div>

        <div class="auth-form--group">
          <label for="passwordConfirmation">{{
            'CONFIRM_PASSWORD_AR' | translate
          }}</label>
          <div
            class="input-container"
            [class.error]="isFieldInvalid('passwordConfirmation')"
          >
            <img
              src="./assets/icons/password.svg"
              alt="lock icon"
              class="input-icon"
            />
            <input
              [type]="confirmPasswordType"
              name="passwordConfirmation"
              id="passwordConfirmation"
              formControlName="passwordConfirmation"
              [placeholder]="'Confirm your password' | translate"
              required
            />
            <img
              src="./assets/icons/eye.svg"
              alt="eye icon"
              class="toggle-password"
              (click)="toggleConfirmPasswordType()"
            />
          </div>
          <div *ngIf="getFieldError('passwordConfirmation')" class="field-error">
            {{ getFieldError('passwordConfirmation') | translate }}
          </div>
        </div>

        <div *ngIf="getServerError('token')" class="field-error token-error">
          {{ getServerError('token') }}
        </div>

        <button
          type="submit"
          class="auth-form--submit"
          [disabled]="isLoading || resetForm.invalid"
        >
          <span *ngIf="!isLoading">{{ 'UPDATE_PASSWORD' | translate }}</span>
          <span *ngIf="isLoading">{{ 'Updating...' | translate }}</span>
        </button>

        <button
          *ngIf="showInvalidLinkAction"
          type="button"
          class="auth-form--secondary"
          (click)="goToForgotPassword()"
        >
          {{ 'REQUEST_NEW_LINK' | translate }}
        </button>
      </form>

      <div class="auth-link">
        <a routerLink="/login">{{ 'BACK_TO_LOGIN' | translate }}</a>
      </div>

      <button (click)="toggleLanguage()" class="lang-btn" type="button">
        {{ 'lang' | translate }}
      </button>
    </div>
  </div>
</div>
