@import '../login/login.component.scss';

.auth-form--header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.auth-form--title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #404040;
}

.auth-form--secondary {
  background: transparent;
  border: 1px solid #0311d0;
  padding: 0 16px;
  height: 40px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #0311d0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(3, 17, 208, 0.05);
  }
}

.token-error {
  margin-top: -8px;
}
