<div class="settings">
  <div class="settings-tabs">
    <div
      [class.active]="activeTab === 'profile'"
      (click)="setActiveTab('profile')"
    >
      {{ "Profile" | translate }}
    </div>
    <div
      [class.active]="activeTab === 'management'"
      (click)="setActiveTab('management')"
    >
      {{ "Management" | translate }}
    </div>
    <div
      [class.active]="activeTab === 'sub-admin'"
      (click)="setActiveTab('sub-admin')"
    >
      Sub Admins Management
    </div>
  </div>

  <div class="settings-content">
    <div class="settings-profile-content" *ngIf="activeTab === 'profile'">
      <app-profile-settings></app-profile-settings>
    </div>
    <div class="settings-management-content" *ngIf="activeTab === 'management'">
      <app-management></app-management>
    </div>
    <div class="settings-sub-admin-content" *ngIf="activeTab === 'sub-admin'">
      settings-sub-admin-content
    </div>
  </div>
</div>
