.table {
  &-titles {
    grid-template-columns: 74px 1fr 138px minmax(150px, 1fr) 140px 118px 120px 134px 93px;
  }

  &-row {
    grid-template-columns: 74px 1fr 138px minmax(150px, 1fr) 140px 118px 120px 134px 93px;
  }

  &-actions {
    ul {
      position: absolute;
      top: 100%;
      right: 0;
      background: white;
      border: 1px solid #f1f1f4;
      border-radius: 12px;
      box-shadow: 0px 7px 18px 0px #00000017;
      padding: 10px;
      min-width: 120px;
      z-index: 1;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: #000000;
      font-size: 13px;

      li {
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        color: #404040;
        border-radius: 6px;

        &:hover {
          background-color: #b7b7b733;
        }
      }
    }
  }
}

// Status colors
.status-approved {
  span {
    color: #059669;
    background-color: #ecfdf5;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #05966827;
    font-size: 11px;
  }
}

.status-rejected {
  span {
    color: #dc2626;
    background-color: #fef2f2;
    padding: 8px;
    border-radius: 4px;
    padding: 8px;
    font-size: 11px;
    border: 1px solid #dc262621;
  }
}

.status-pending {
  span {
    color: #dfa000;
    background-color: #fff8dd;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #f6b10033;
    font-size: 11px;
  }
}

.angency {
  color: #056ee9;
  padding: 8px;
  border-radius: 4px;
  font-size: 11px;
  border: 1px solid #1b84ff33;
  background-color: #eff6ff;
}
