<div class="auth">
  <div class="auth-container">
    <!-- Auth Img -->
    <div class="auth-img">
      <img src="assets/images/auth-img.png" alt="" />
    </div>
    <!-- Auth Form -->
    <div class="auth-form">
      <!-- Logo -->
      <div class="auth-form--logo">
        <img src="assets/images/auth-logo.png" alt="" />
      </div>

      <!-- Success/Error Messages -->
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div
        *ngIf="errorMessage"
        class="error-message"
        [innerHTML]="errorMessage | translate"
      ></div>

      <!-- Form -->
      <form
        class="auth-form--inputs"
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- Radio button -->
        <!-- <div class="radio-group">
          <label class="radio-option" [class.active]="userType === 'agent'">
            <input
              type="radio"
              name="userType"
              value="agent"
              [(ngModel)]="userType"
              [ngModelOptions]="{ standalone: true }"
            />
            <img
              *ngIf="userType === 'agent'"
              src="./assets/icons/agent-icon.svg"
              alt="agent icon"
            />
            <img
              *ngIf="userType !== 'agent'"
              src="./assets/icons/agent-icon-inactive.svg"
              alt="agent icon"
            />
            <span>{{ "Agent" | translate }}</span>
          </label>
          <label
            class="radio-option"
            [class.active]="userType === 'individual'"
          >
            <input
              type="radio"
              name="userType"
              value="individual"
              [(ngModel)]="userType"
              [ngModelOptions]="{ standalone: true }"
            />
            <img
              *ngIf="userType === 'individual'"
              src="./assets/icons/individual-active.svg"
              alt="agent icon"
            />
            <img
              *ngIf="userType !== 'individual'"
              src="./assets/icons/individual-inactive.svg"
              alt="agent icon"
            />
            <span>{{ "Individual" | translate }}</span>
          </label>
        </div> -->

        <!-- Name input -->
        <div class="auth-form--group">
          <label for="name"> {{ "Full Name" | translate }} </label>
          <div class="input-container" [class.error]="isFieldInvalid('name')">
            <img
              src="./assets/icons/marketer.svg"
              alt="name icon"
              class="input-icon"
            />
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              [placeholder]="'Enter your full name' | translate"
              required
            />
          </div>
          <div *ngIf="getFieldError('name')" class="field-error">
            {{ getFieldError("name") | translate }}
          </div>
        </div>

        <!-- Mobile input -->
        <div class="auth-form--group">
          <label for="phone_number"> {{ "Mobile number" | translate }} </label>
          <div
            class="input-container"
            [class.error]="isFieldInvalid('phone_number')"
          >
            <img
              src="./assets/icons/mobile.svg"
              alt="mobile icon"
              class="input-icon"
            />
            <input
              type="tel"
              name="phone_number"
              id="phone_number"
              formControlName="phone_number"
              [placeholder]="'Enter mobile number' | translate"
              required
            />
          </div>
          <div *ngIf="getFieldError('phone_number')" class="field-error">
            {{ getFieldError("phone_number") | translate }}
          </div>
        </div>

        <!-- Email input -->
        <div class="auth-form--group">
          <label for="email"> {{ "E-Mail Address" | translate }} </label>
          <div class="input-container" [class.error]="isFieldInvalid('email')">
            <img
              src="./assets/icons/email.svg"
              alt="mail icon"
              class="input-icon"
            />
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              [placeholder]="'Enter your Email' | translate"
              required
            />
          </div>
          <div *ngIf="getFieldError('email')" class="field-error">
            {{ getFieldError("email") | translate }}
          </div>
        </div>

        <!-- Password input -->
        <div class="auth-form--group">
          <label for="password"> {{ "Password" | translate }} </label>
          <div
            class="input-container"
            [class.error]="isFieldInvalid('password')"
          >
            <img
              src="./assets/icons/password.svg"
              alt="lock icon"
              class="input-icon"
            />
            <input
              [type]="passwordType"
              name="password"
              id="password"
              formControlName="password"
              [placeholder]="'Enter your password' | translate"
              required
            />
            <img
              src="./assets/icons/eye.svg"
              alt="eye icon"
              class="toggle-password"
              (click)="togglePasswordType()"
            />
          </div>
          <div *ngIf="getFieldError('password')" class="field-error">
            {{ getFieldError("password") | translate }}
          </div>
        </div>

        <!-- Confirm Password input -->
        <div class="auth-form--group">
          <label for="password_confirmation">
            {{ "Confirm Password" | translate }}
          </label>
          <div
            class="input-container"
            [class.error]="isFieldInvalid('password_confirmation')"
          >
            <img
              src="./assets/icons/password.svg"
              alt="lock icon"
              class="input-icon"
            />
            <input
              [type]="confirmPasswordType"
              name="password_confirmation"
              id="password_confirmation"
              formControlName="password_confirmation"
              [placeholder]="'Confirm your password' | translate"
              required
            />
            <img
              src="./assets/icons/eye.svg"
              alt="eye icon"
              class="toggle-password"
              (click)="toggleConfirmPasswordType()"
            />
          </div>
          <div
            *ngIf="getFieldError('password_confirmation')"
            class="field-error"
          >
            {{ getFieldError("password_confirmation") | translate }}
          </div>
        </div>

        <!-- Submit -->
        <button
          type="submit"
          class="auth-form--submit"
          [disabled]="isLoading || registrationForm.invalid"
        >
          <span *ngIf="!isLoading">{{ "sign up" | translate }}</span>
          <span *ngIf="isLoading">Registering...</span>
        </button>
      </form>

      <!-- Language Switcher -->
      <button (click)="toggleLanguage()" class="lang-btn">
        {{ "lang" | translate }}
      </button>

      <div class="auth-link">
        {{ "Already have an account?" | translate }}
        <a href="/login">{{ "Login" | translate }}</a>
      </div>
    </div>
  </div>
</div>
