@import '../login/login.component.scss';

.auth-form--header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.auth-form--title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #404040;
}

.auth-form--subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: rgba(64, 64, 64, 0.7);
  line-height: 1.5;
}
