.table {
  &-titles {
    grid-template-columns: 74px 1fr 1fr minmax(150px, 1fr) 140px 118px 1fr 1fr;
  }

  &-row {
    grid-template-columns: 74px 1fr 1fr minmax(150px, 1fr) 140px 118px 1fr 1fr;
  }
}

// Status colors
.status-approved {
  span {
    color: #059669;
    background-color: #ecfdf5;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #05966827;
    font-size: 11px;
  }
}

.status-rejected {
  span {
    color: #dc2626;
    background-color: #fef2f2;
    padding: 8px;
    border-radius: 4px;
    padding: 8px;
    font-size: 11px;
    border: 1px solid #dc262621;
  }
}

.status-pending {
  span {
    color: #dfa000;
    background-color: #fff8dd;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #f6b10033;
    font-size: 11px;
  }
}

.angency {
  color: #056ee9;
  padding: 8px;
  border-radius: 4px;
  font-size: 11px;
  border: 1px solid #1b84ff33;
  background-color: #eff6ff;
}
