<div class="table">
  <!-- Table header -->
  <div class="table-header">
    <div class="table-title">{{ "rentrequests" | translate }}</div>
    <div class="table-search">
      <img src="/assets/icons/search-icon.svg" alt="" />
      <input
        type="text"
        [placeholder]="'Search by property name or tenant Name' | translate"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
    </div>
  </div>
  <!-- Table titles -->
  <div class="table-titles">
    <div>
      <span>{{ "S.ON" | translate }}</span>
      <span>
        <img src="/assets/icons/sort-img.svg" alt="" (click)="sortBy('id')" />
      </span>
    </div>
    <div>
      <span>{{ "propertyName" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('propertyName')"
        />
      </span>
    </div>

    <div>
      <span>{{ "tenantName" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('tenantName')"
        />
      </span>
    </div>

    <div>
      <span>{{ "ownerName" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('ownerName')"
        />
      </span>
    </div>
    <div>
      <span>{{ "City" | translate }}</span>
      <span>
        <img src="/assets/icons/sort-img.svg" alt="" (click)="sortBy('city')" />
      </span>
    </div>
    <div>
      <span>{{ "propertyCategory" | translate }}</span>
    </div>
    <div>
      <span>{{ "propertyType" | translate }}</span>
    </div>

    <div>
      <span>{{ "Date added" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('dateAdded')"
        />
      </span>
    </div>
    <div>
      <span>{{ "Date Modified" | translate }}</span>
      <span>
        <img
          src="/assets/icons/sort-img.svg"
          alt=""
          (click)="sortBy('dateModified')"
        />
      </span>
    </div>
    <div>
      <span>{{ "Actions" | translate }}</span>
    </div>
  </div>

  <!-- Loading state -->
  <div *ngIf="isLoading" class="loading">
    {{ "Loading..." | translate }}
  </div>

  <!-- No data -->
  <div *ngIf="!isLoading && filteredItems.length === 0" class="table-no-data">
    {{ "No data found" | translate }}
  </div>
  <!-- Table rows -->
  <ng-container *ngIf="!isLoading">
    <div class="table-row" *ngFor="let item of paginatedItems; let i = index">
      <div class="table-id">{{ paginationStart + i + 1 }}</div>
      <div>{{ item.propertyName }}</div>
      <div>{{ item.tenantName }}</div>
      <div>{{ item.ownerName }}</div>
      <div>{{ item.city }}</div>
      <div>{{ item.propertyCategory }}</div>
      <div>{{ item.propertyType }}</div>
      <div>{{ item.dateAdded }}</div>
      <div>{{ item.dateModified }}</div>

      <div class="table-actions">
        <!-- if admin show this  -->
        <span
          *ngIf="userRoleService.getCurrentRole() === 'admin'"
          (click)="toggleDropdown(item.id)"
        >
          <img src="/assets/icons/more.svg" alt="more icon" />
        </span>

        <ul *ngIf="activeDropdown === item.id">
          <li (click)="approveRequest(item)">
            {{ "Approve" | translate }}
          </li>
          <li (click)="openRejectModal(item)">
            {{ "Reject" | translate }}
          </li>
          <li (click)="reviseRequest(item)">
            {{ "Revise" | translate }}
          </li>
          <li (click)="viewDetails(item)">
            {{ "View" | translate }}
          </li>
        </ul>

        <span
          *ngIf="userRoleService.getCurrentRole() === 'agent'"
          (click)="viewDetails(item)"
        >
          <img src="/assets/icons/show-icon.svg" alt="view icon" />
        </span>
      </div>
    </div>
  </ng-container>

  <!-- Reject Modal -->
  <div class="modal modal-reject" *ngIf="showRejectModal">
    <div class="modal-content">
      <h2>{{ "reasonforrejection" | translate }}</h2>
      <div class="modal-body">
        <textarea
          id="rejectReason"
          [(ngModel)]="rejectReason"
          placeholder="{{ 'Type the reason for rejection' | translate }}"
        ></textarea>
      </div>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeRejectModal()">
          <img src="/assets/icons/close-icon.svg" alt="" />

          {{ "Cancel" | translate }}
        </button>
        <button class="submit-btn" (click)="submitReject()">
          <img src="/assets/icons/confirm-icon.svg" alt="" />
          {{ "Confirm" | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Revise/Edit Modal -->
  <div class="modal modal-revise" *ngIf="showReviseModal">
    <div class="modal-revise-content">
      <div class="modal-revise-header">
        <h2>{{ "Edit Request" | translate }}</h2>
        <span class="close" (click)="closeReviseModal()">&times;</span>
      </div>

      <div class="modal-revise-body">
        <div class="modal-revise-row">
          <span class="label" for="propertyName">{{
            "Property Name" | translate
          }}</span>
          <input
            type="text"
            id="propertyName"
            [(ngModel)]="editedItem!.propertyName"
          />
        </div>
        <div class="modal-revise-row">
          <span class="label" for="tenantName">{{
            "Tenant Name" | translate
          }}</span>
          <input
            type="text"
            id="tenantName"
            [(ngModel)]="editedItem!.tenantName"
          />
        </div>
        <div class="modal-revise-row">
          <span class="label" for="ownerName">{{
            "Owner Name" | translate
          }}</span>
          <input
            type="text"
            id="ownerName"
            [(ngModel)]="editedItem!.ownerName"
          />
        </div>
        <div class="modal-revise-row">
          <span class="label" for="city">{{ "City" | translate }}</span>
          <input type="text" id="city" [(ngModel)]="editedItem!.city" />
        </div>
        <div class="modal-revise-row">
          <span class="label" for="propertyCategory">{{
            "Property Category" | translate
          }}</span>
          <input
            type="text"
            id="propertyCategory"
            [(ngModel)]="editedItem!.propertyCategory"
          />
        </div>
        <div class="modal-revise-row">
          <span class="label" for="propertyType">{{
            "Property Type" | translate
          }}</span>
          <input
            type="text"
            id="propertyType"
            [(ngModel)]="editedItem!.propertyType"
          />
        </div>
      </div>
      <div class="modal-revise-footer">
        <button class="cancel-btn" (click)="closeReviseModal()">
          {{ "Cancel" | translate }}
        </button>
        <button class="submit-btn revise-btn" (click)="submitRevise()">
          {{ "Submit" | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Table pagination -->
  <div class="table-pagination" *ngIf="filteredItems.length > 0">
    <div></div>
    <div class="table-pagination--pages">
      <div class="table-pagination--pages--count">
        {{ paginationStart + 1 }}-{{ paginationEnd }}
        {{ "of" | translate }}
        {{ apiTotal }}
      </div>

      <div class="table-pagination--pages--buttons" dir="ltr">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          <img src="/assets/icons/arrow-left.svg" alt="prev icon" />
        </button>
        <span
          *ngFor="let page of totalPagesArray"
          (click)="goToPage(page)"
          [class.active]="page === currentPage"
          >{{ page }}</span
        >
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <img src="/assets/icons/arrow-right.svg" alt=" next icon " />
        </button>
      </div>
    </div>
  </div>
</div>

<app-toast></app-toast>
